<h1>Events: </h1>
<p>{{error}}</p>
<table>
    <thread>
    <tr>
        <th>Name</th>
        <th>Place</th>
        <th>Priority</th>
        <th>With</th>
    </tr>
    </thread>
    <tbody>

    </tbody>
</table>

