<h1>{{title}}</h1>
<table id="events" class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>Place</th>
            <th>Priority</th>
            <th>With</th>
        </tr>
    </thread>
    <tbody>

    </tbody>
</table>
<p>Welcome to {{title}}</p>
<a href="/events/create">Add a new event</a>
</br>
<a href="/events">My events</a>
